/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2017, 1:22:44 AM
    Author     : fabian
*/
h1 {
    font-family:  Times New Roman, Times, Garamond, Georgia, Cambria;
    font-weight: bold;
    color: #CC0000;
    font-size: 2.75em;
    letter-spacing: .2em;
    line-height: 2.1em;
    margin:0px;
    text-align: center;
    text-transform: uppercase;
}

p{
    font-family:  Times New Roman, Times, Garamond, Georgia, Cambria;
    font-weight: normal;
    color: black;
    font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 2.1em;
    margin:0px;
    text-align: center;
}
.imagen{
    background-image:url(\imagenes\LogoECI.jgp);
    background-position:top center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    width:150px;
    height:100px;
    display:block;
}
