<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.epicwino.logica.dao.mybatis.mappers.AsignaturaMapper">
    <insert  id="saveAsignatura" >
        
            insert INTO asignaturas (id,nombre,programa_id)
            VALUES (#{asignatura.id},#{asignatura.nombre},#{idPrograma} )
        
    </insert>  
    
</mapper>