<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.epicwino.logica.dao.mybatis.mappers.ClaseMapper">
    <select parameterType="map" id="consultarClasesConRecursos" resultMap="ClaseResult">
        select 
            clas.id as asig_mate_clas_id,
            clas.fecha as asig_mate_clas_fecha,
            clas.hora_inicio as asig_mate_clas_horaInicio,
            clas.hora_fin as asig_mate_clas_horaFin,
            clas.materia_id as asig_mate_clas_materia,
            
            recc.clase_id as asig_mate_clas_recc_clase,
            recc.recurso_id as asig_mate_clas_recc_recurso,
        
            rec.id as asig_mate_clas_recc_rec_id,
            rec.nombre as asig_mate_clas_recc_rec_nombre,
            rec.descripcion as asig_mate_clas_recc_rec_descripcion,
            rec.cantidad as asig_mate_clas_recc_rec_cantidad,
            rec.categoria as asig_mate_clas_recc_rec_categoria
            
        from clases as clas 
        left join recursos_concedidos as recc on clas.id=recc.clase_id
        left join recursos as rec on recc.recurso_id=rec.id
        where  (EXTRACT(YEAR from clas.fecha)= #{anio}) and (((EXTRACT(MONTH from clas.fecha) &lt; 6*#{semestre}) and (EXTRACT(MONTH from clas.fecha)&gt; 6*(#{semestre}-1)))or (EXTRACT(MONTH from clas.fecha)= 6*#{semestre})) and (recc.clase_id is not null) and (recc.recurso_id is not null)
        order by clas.fecha, clas.hora_inicio;
    </select>
    <select parameterType="map" id="consultarClases" resultMap="ClaseResult">
        select 
            clas.id as id,
            clas.hora_inicio as horainicio,
            clas.hora_fin as horafin,
           
            rec.id as rec_id,
            rec.nombre as rec_nombre,
            rec.descripcion as rec_descripcion,
            rec.cantidad as rec_cantidad,
            rec.categoria as rec_categoria
            
        from gruposdematerias
        left join clases as clas on (gruposdematerias.materia_id=clas.materia_id)and (gruposdematerias.periodo=clas.periodo)
        left join recursos_concedidos as recc on clas.id=recc.clase_id
        left join recursos as rec on recc.recurso_id=rec.id
        where (gruposdematerias.materia_id=#{idMateria}) and (gruposdematerias.periodo= #{periodo})
        order by clas.fecha, clas.hora_inicio;
    </select>
    
    <resultMap type="Clase" id="ClaseResult">
        <id property="id" column="id"/>
        <result property="fecha" column="fecha"/>
        <result property="horaInicio" column="horainicio"/>
        <result property="horaFin" column="horafin"/>
        <collection property="recursos" columnPrefix="rec_" ofType="Recurso" resultMap="RecursoResult"/>
    </resultMap>
    <resultMap type="Recurso" id="RecursoResult">
       <id property="id" column="id"/>
       <result property="nombre" column="nombre"/>
       <result property="descripcion" column="descripcion"/>
       <result property="cantidad" column="cantidad"/>
       <result property="categoria" column="categoria"/>
    </resultMap>
    
</mapper>


       