<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.epicwino.logica.dao.mybatis.mappers.MateriaMapper">
    <insert parameterType="map"  id="saveMateria" >
            insert INTO materias (id,nombre,creditos,descripcion,asignaturas_id)
            VALUES (#{m.id},#{m.nombre},#{m.creditos},#{m.descripcion},#{idAsignatura} );
    </insert>
    
    <insert id="agregarCohorte">
        insert INTO programas_grupos (programa_id,materia_id,periodo,cohorte)
        VALUES (#{idPrograma},#{idMateria},#{periodo},#{numCohorte});
    </insert>
    
    <insert id="agregarProfesor">
        insert INTO profesores (id,nombre,tipo,correo,telefono)
        VALUES (#{idProfesor},#{nombre},#{tipo},#{correo},#{telefono});
    </insert>
    
    
    
    
    <select parameterType="map" id="consultarMaterias" resultMap="MateriaResult">
        select 
        
            mate.id as id,
            mate.nombre as nombre,
            mate.creditos as creditos,
            mate.descripcion as descripcion,
           
            grup.periodo as grup_periodo,
        
            prof.id as grup_prof_id,
            prof.nombre as grup_prof_nombre,
            prof.tipo as grup_prof_tipo,
            prof.correo as grup_prof_correo,
            prof.telefono as grup_prof_telefono,
        
            clas.id as grup_clas_id,
            clas.fecha as grup_clas_fecha,
            clas.hora_inicio as grup_clas_horainicio,
            clas.hora_fin as grup_clas_horafin,
            
            rec.id as grup_clas_rec_id,
            rec.nombre as grup_clas_rec_nombre,
            rec.descripcion as grup_clas_rec_descripcion,
            rec.cantidad as grup_clas_rec_cantidad,
            rec.categoria as grup_clas_rec_categoria
        
        from  materias as mate 
        left join gruposdematerias as grup on mate.id=grup.materia_id
        left join profesores as prof on grup.profesor_id = prof.id
        left join clases as clas on (clas.materia_id = grup.materia_id and clas.periodo=grup.periodo)
        left join recursos_concedidos on recursos_concedidos.clase_id=clas.id
        left join recursos as rec on recursos_concedidos.recurso_id=rec.id;
    </select>
    
    <select parameterType="map" id="consultarMateriasPorPeriodoYPrograma" resultMap="MateriaResult">
        select 
        
            mate.id as id,
            mate.nombre as nombre,
            mate.creditos as creditos,
            mate.descripcion as descripcion,
           
            grup.periodo as grup_periodo,
        
            prof.id as grup_prof_id,
            prof.nombre as grup_prof_nombre,
            prof.tipo as grup_prof_tipo,
            prof.correo as grup_prof_correo,
            prof.telefono as grup_prof_telefono,
        
            clas.id as grup_clas_id,
            clas.fecha as grup_clas_fecha,
            clas.hora_inicio as grup_clas_horainicio,
            clas.hora_fin as grup_clas_horafin,
            
            rec.id as grup_clas_rec_id,
            rec.nombre as grup_clas_rec_nombre,
            rec.descripcion as grup_clas_rec_descripcion,
            rec.cantidad as grup_clas_rec_cantidad,
            rec.categoria as grup_clas_rec_categoria
        
        from  programas
        left join programas_asignaturas as pras  on prog.id = pras.programa_id
        left join asignaturas as asig on pras.asignatura_id = asig.id
        left join materias as mate on mate.asignaturas_id=asig.id
        left join gruposdematerias as grup on mate.id=grup.materia_id
        left join profesores as prof on grup.profesor_id = prof.id
        left join clases as clas on (clas.materia_id = grup.materia_id and clas.periodo=grup.periodo)
        left join recursos_concedidos on recursos_concedidos.clase_id=clas.id
        left join recursos as rec on recursos_concedidos.recurso_id=rec.id
        where programas.id=#{idPrograma} and grup.periodo=#{periodo};
    </select>
    
    <select parameterType="map" id="consultarMateriasPorPeriodoYAsignatura" resultMap="MateriaResult">
        select 
        
            mate.id as id,
            mate.nombre as nombre,
            mate.creditos as creditos,
            mate.descripcion as descripcion,
           
            grup.periodo as grup_periodo,
        
            prof.id as grup_prof_id,
            prof.nombre as grup_prof_nombre,
            prof.tipo as grup_prof_tipo,
            prof.correo as grup_prof_correo,
            prof.telefono as grup_prof_telefono,
        
            clas.id as grup_clas_id,
            clas.fecha as grup_clas_fecha,
            clas.hora_inicio as grup_clas_horainicio,
            clas.hora_fin as grup_clas_horafin,
            
            rec.id as grup_clas_rec_id,
            rec.nombre as grup_clas_rec_nombre,
            rec.descripcion as grup_clas_rec_descripcion,
            rec.cantidad as grup_clas_rec_cantidad,
            rec.categoria as grup_clas_rec_categoria
        
        from asignaturas as asig 
        left join materias as mate on mate.asignaturas_id=asig.id
        left join gruposdematerias as grup on mate.id=grup.materia_id
        left join profesores as prof on grup.profesor_id = prof.id
        left join clases as clas on (clas.materia_id = grup.materia_id and clas.periodo=grup.periodo)
        left join recursos_concedidos on recursos_concedidos.clase_id=clas.id
        left join recursos as rec on recursos_concedidos.recurso_id=rec.id
        where asig.id=#{idAsignatura} and grup.periodo=#{periodo};
    </select>
    
    
    <select parameterType="map" id="consultarMateriasPorPeriodo" resultMap="MateriaResult">
        select 
        
            mate.id as id,
            mate.nombre as nombre,
            mate.creditos as creditos,
            mate.descripcion as descripcion,
           
            grup.periodo as grup_periodo,
        
            prof.id as grup_prof_id,
            prof.nombre as grup_prof_nombre,
            prof.tipo as grup_prof_tipo,
            prof.correo as grup_prof_correo,
            prof.telefono as grup_prof_telefono,
        
            clas.id as grup_clas_id,
            clas.fecha as grup_clas_fecha,
            clas.hora_inicio as grup_clas_horainicio,
            clas.hora_fin as grup_clas_horafin,
            
            rec.id as grup_clas_rec_id,
            rec.nombre as grup_clas_rec_nombre,
            rec.descripcion as grup_clas_rec_descripcion,
            rec.cantidad as grup_clas_rec_cantidad,
            rec.categoria as grup_clas_rec_categoria
        
        from  materias as mate 
        left join gruposdematerias as grup on mate.id=grup.materia_id
        left join profesores as prof on grup.profesor_id = prof.id
        left join clases as clas on (clas.materia_id = grup.materia_id and clas.periodo=grup.periodo)
        left join recursos_concedidos on recursos_concedidos.clase_id=clas.id
        left join recursos as rec on recursos_concedidos.recurso_id=rec.id
        where grup.periodo=#{periodo};
    </select>
    <select parameterType="map" id="loadProfesoresEnPeriodo" resultMap="ProfesorResult">
        select DISTINCT
            prof.id as id,
            prof.nombre as nombre,
            prof.tipo as tipo,
            prof.correo as correo,
            prof.telefono as telefono
        from gruposdematerias as grup 
        left join profesores as prof on grup.profesor_id = prof.id
        where grup.periodo=#{periodo};
    </select>
    
    
    <select parameterType="map" id="loadProfesoresEnPeriodoYMateria" resultMap="ProfesorResult">
        select 
            prof.id as id,
            prof.nombre as nombre,
            prof.tipo as tipo,
            prof.correo as correo,
            prof.telefono as telefono
        from gruposdematerias as grup 
        left join profesores as prof on grup.profesor_id = prof.id
        where grup.periodo=#{periodo} and grup.materia_id=#{idMateria};
    </select>
    
    
    <select id="consultarDisponibilidadProfesor" resultType="java.lang.Integer">
        
        select count( (clas.id)) as num 
        
        from gruposdemateria as grup
        left join clases as clas on grup.materia_id=clas.materia_id and grup.periodo=clas.periodo
        left join profesores as prof on grup.profesor_id=prof.id
        where prof.id=#{idProf} and clas.fecha=#{fecha} and (((clas.hora_inicio &gt;#{horaInicio}) or (clas.hora_inicio=#{horaInicio}) ) and (clas.hora_inicio &lt; {horaFin}))
        GROUP BY id;
        
        
    </select>
    
    <resultMap type="Materia" id="MateriaResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="creditos" column="creditos"/>
        <result property="descripcion" column="descripcion"/>
        <collection property="gruposDeMateria" columnPrefix="grup_" ofType="GrupoDeMateria" resultMap="GrupoDeMateriaResult"/>
    </resultMap>
    <resultMap type="GrupoDeMateria" id="GrupoDeMateriaResult">
        <id property="periodo" column="periodo"/>
        <association property="profesor" javaType="Profesor" resultMap='ProfesorResult'></association>
        <collection property="clases" columnPrefix="clas_" ofType="Clase" resultMap="edu.eci.pdsw.epicwino.logica.dao.mybatis.mappers.ClaseMapper.ClaseResult"/>
    </resultMap>
    <resultMap type="Profesor" id="ProfesorResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="tipoID" column="tipo"/>
        <result property="correo" column="correo"/>
        <result property="telefono" column="telefono"/>
        
        <!--La coleccion de comites-->
    </resultMap>
    
</mapper>