<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.epicwino.logica.dao.mybatis.mappers.ProgramaMapper">
    
    <!-- cosultarProgramaPorPeriodo -->
    <select parameterType="map" id="cosultarProgramaPorPeriodo" resultMap="ProgramaResult">
        select 
            prog.id as id,
            prog.nombre as nombre,
            prog.nivel as nivel,
            prog.duracion as duracion,
            prog.jornada as jornada,
            prog.modalidad as modalidad,
            prog.codigo_SNIES as codigo_SNIES,
        
            asig.id as asig_id,
            asig.nombre as asig_nombre,
        
            mate.id as asig_mate_id,
            mate.nombre as asig_mate_nombre,
            mate.creditos as asig_mate_creditos,
            mate.descripcion as asig_mate_descripcion,
           
            grup.periodo as asig_mate_grup_periodo,
        
            prof.id as asig_mate_grup_prof_id,
            prof.nombre as asig_mate_grup_prof_nombre,
            prof.tipo as asig_mate_grup_prof_tipo,
            prof.correo as asig_mate_grup_prof_correo,
            prof.telefono as asig_mate_grup_prof_telefono,
        
            clas.id as asig_mate_grup_clas_id,
            clas.fecha as asig_mate_grup_clas_fecha,
            clas.hora_inicio as asig_mate_grup_clas_horainicio,
            clas.hora_fin as asig_mate_grup_clas_horafin,
            
            rec.id as asig_mate_grup_clas_rec_id,
            rec.nombre as asig_mate_grup_clas_rec_nombre,
            rec.descripcion as asig_mate_grup_clas_rec_descripcion,
            rec.cantidad as asig_mate_grup_clas_rec_cantidad,
            rec.categoria as asig_mate_grup_clas_rec_categoria
            
      
        from programas as prog 
        left join asignaturas as asig on prog.id = asig.programa_id
        left join materias as mate on asig.id = mate.asignatura_id
        left join gruposdematerias as grup on mate.id=grup.materia_id
        left join profesores as prof on grup.profesor_id = prof.id
        left join clases as clas on (clas.materia_id = grup.materia_id and clas.periodo=grup.periodo)
        left join recursos_concedidos on recursos_concedidos.clase_id=clas.id
        left join recursos as rec on recursos_concedidos.recurso_id=rec.id
        where prog.id = #{programa_id} and grup.periodo = #{periodo};
    </select>
    
    <!-- consultarProgramas -->
    <select parameterType="map" id="consultarProgramas" resultMap="ProgramaResult">
        select 
            prog.id as id,
            prog.nombre as nombre,
            prog.nivel as nivel,
            prog.duracion as duracion,
            prog.jornada as jornada,
            prog.modalidad as modalidad,
            prog.codigo_SNIES as codigo_SNIES,
        
            asig.id as asig_id,
            asig.nombre as asig_nombre,
        
            mate.id as asig_mate_id,
            mate.nombre as asig_mate_nombre,
            mate.creditos as asig_mate_creditos,
            mate.descripcion as asig_mate_descripcion,
           
            grup.periodo as asig_mate_grup_periodo,
        
            prof.id as asig_mate_grup_prof_id,
            prof.nombre as asig_mate_grup_prof_nombre,
            prof.tipo as asig_mate_grup_prof_tipo,
            prof.correo as asig_mate_grup_prof_correo,
            prof.telefono as asig_mate_grup_prof_telefono,
        
            clas.id as asig_mate_grup_clas_id,
            clas.fecha as asig_mate_grup_clas_fecha,
            clas.hora_inicio as asig_mate_grup_clas_horainicio,
            clas.hora_fin as asig_mate_grup_clas_horafin,
            
            rec.id as asig_mate_grup_clas_rec_id,
            rec.nombre as asig_mate_grup_clas_rec_nombre,
            rec.descripcion as asig_mate_grup_clas_rec_descripcion,
            rec.cantidad as asig_mate_grup_clas_rec_cantidad,
            rec.categoria as asig_mate_grup_clas_rec_categoria
            
      
        from programas as prog 
        left join asignaturas as asig on prog.id = asig.programa_id
        left join materias as mate on asig.id = mate.asignatura_id
        left join gruposdematerias as grup on mate.id=grup.materia_id
        left join profesores as prof on grup.profesor_id = prof.id
        left join clases as clas on (clas.materia_id = grup.materia_id and clas.periodo=grup.periodo)
        left join recursos_concedidos on recursos_concedidos.clase_id=clas.id
        left join recursos as rec on recursos_concedidos.recurso_id=rec.id
        where prog.id = #{programa_id};
    </select>
    <select id="loadPeriodos" resultType="java.lang.Integer">
        select DISTINCT periodo from asignaturas_grupos;
    </select>
    <select id="consultarUnCohorte" resultType="java.lang.Integer">
        select cohorte from asignaturas_grupos
        where materia_id=#{idMateria} and periodo=#{periodo} and asignaturas_id=#{idAsignatura};
    </select>

    
    <resultMap type="Programa" id="ProgramaResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="nivel" column="nivel"/>
        <result property="duracion" column="duracion"/>
        <result property="jornada" column="jornada"/>
        <result property="modalidad" column="modalidad"/>
        <result property="codigoSNIES" column="codigo_SNIES"/>
        <collection property="asignaturas" columnPrefix="asig_" ofType="Asignatura" resultMap="AsignaturaResult"/>
    </resultMap>
    
    <resultMap type="Asignatura" id="AsignaturaResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <collection property="materias" columnPrefix="mate_" ofType="Materia" resultMap="MateriaResult"/>
    </resultMap>
    
    <resultMap type="Materia" id="MateriaResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="creditos" column="creditos"/>
        <result property="descripcion" column="descripcion"/>
        <collection property="gruposDeMateria" columnPrefix="grup_" ofType="GrupoDeMateria" resultMap="GrupoDeMateriaResult"/>
    </resultMap>
    <resultMap type="GrupoDeMateria" id="GrupoDeMateriaResult">
        <id property="periodo" column="periodo"/>
        <association property="profesor" javaType="Profesor" resultMap='ProfesorResult'></association>
        <collection property="clases" columnPrefix="clas_" ofType="Clase" resultMap="Logica.Dao.MyBatis.Mappers.ClaseMapper.ClaseResult"/>
    </resultMap>
    <resultMap type="Profesor" id="ProfesorResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="tipoID" column="tipo"/>
        <result property="correo" column="correo"/>
        <result property="telefono" column="telefono"/>
        
        <!--La coleccion de comites-->
    </resultMap>
    
</mapper>