<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.Programa' alias='Programa'/>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.Asignatura' alias='Asignatura'/>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.Clase' alias='Clase'/>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.Materia' alias='Materia'/>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.Profesor' alias='Profesor'/>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.Comite' alias='Comite'/>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.Recurso' alias='Recurso'/>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.Reunion' alias='Reunion'/>
        <typeAlias type='edu.eci.pdsw.epicwino.logica.entidades.GrupoDeMateria' alias='GrupoDeMateria'/>
    </typeAliases>



    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver" />
                <property name="url" value="jdbc:h2:file:./target/db/testdb;MODE=PostgreSQL" />
                <property name="username" value="sa" />
                <property name="password" value="" />
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="mappers/ProgramaMapper.xml"></mapper>
        <mapper resource="mappers/ClaseMapper.xml"></mapper>
        <mapper resource="mappers/RecursoMapper.xml"></mapper>
        <mapper resource="mappers/AsignaturaMapper.xml"></mapper>
        <mapper resource="mappers/MateriaMapper.xml"></mapper>
    </mappers> 
    
</configuration>