/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2017, 1:22:44 AM
    Author     : fabian
*/
h1 {
    
    font-weight: bold;
    color: #990000;
    font-size: 40px;
    letter-spacing: .2em;
    line-height: 2.1em;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    
    font-weight: bold;
    color: #CC0000;
    font-size: 10px;
    letter-spacing: .2em;
    line-height: 3.1em;
    margin:0px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-weight: normal;
    color: black;
    font-size: 4px;
    letter-spacing: .2em;
    line-height: 2.1em;
    margin:0px;
    text-align: center;
}
body {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    //background-image: url("../images/escuela.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content {
    align-self: center;
    background-color: white;
    display: block;
    max-width: 85%;
    margin: 60px auto 0 auto;
    border: 2px solid #990000;
    position: relative;
}
.header {
    background-color: white;
    display: block;
    border-bottom: 3px solid #990000;
    border-top: 3px solid #990000;
    min-height: 120px;
    
}
.cotent .layout {
    align-self: center;
    max-width: 50%;
    display: block;
    position: relative;
    margin-top: 100px;  
}
.label:first-child {
    padding: 70px 20px 10px 20px;
}
.label {
    display: inline;
    margin: 60px auto 0 auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    padding: 70px 20px 10px 70px;
    text-align: center;
    color: black;
}
.input {
    display: inline;
    font-size: 13px;
    margin: 0 auto 0 auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-bottom: 20px;
}
.input:focus {
    font-size: 13px;
    border: 1px solid #990000;
    -webkit-box-shadow: 0px 0px 7px 0px #990000;
}
.content .button {
    font-size: 15px;
    display: inline;
    margin: 0 0 0 20px;
    color: #990000;
    padding: 0;
}
.header img {
    padding: 2px 0 2px 2px;
}
.table {
    max-width: 98%;
    margin: auto;
    padding-bottom: 13px;
    padding-top: 20px;
}
.content .button:visited, .content .button:active,.content .button:hover, .content .button:focus {
    background-color: #D8D8D8;
    -webkit-box-shadow: 0px 0px 7px 0px #990000;
    border: 1px solid #990000;
}
.content .button::after {
    background-color: #D8D8D8;
    -webkit-box-shadow: 0px 0px 7px 0px #990000;
}
.columnText {
    color: #990000;
}
.columnText .outputText {
    color: black;
}
.homeHeader {
    text-decoration: none;
    list-style: none;
}
.homeHeader img {
    float: left;
}

.optionsHeader {
    text-decoration: none;
    list-style: none;
}

.optionsHeader img {
    float: left;
    margin: auto 50px auto 10px;
}

.optionsHeader button {
    border: 0;
}

.optionsHeader .barMenu {
    text-align: center;
    
}


